@import "tailwindcss";

/* Custom Theme */
@theme inline {
  --color-white: #fff;
  --color-dark: rgb(42, 40, 40);

  --color-grey: rgb(100, 97, 97);
  --color-grey-50: #9e9e9e;

  --color-red: red;

  --color-brown: hsl(14, 65%, 9%);
  --color-brown-50: hsla(0, 11.1%, 37.1%, 0.1);
  --color-brown-100: hsla(6, 19.6%, 60%, 0.27);
  --color-brown-200: hsl(7, 20%, 60%);
  --color-brown-300: hsl(12, 20%, 44%);

  --color-cream-100: hsl(20, 50%, 98%);
  --color-cream-200: hsl(13, 31%, 94%);

  --color-orangered-50: hsl(16, 87.7%, 71.4%);
  --color-orangered-100: hsl(16, 77%, 50%);
  --color-orangered-200: hsl(14, 86%, 42%);

  --color-blue: rgba(69, 63, 240, 0.8);
  --color-blue-100: rgba(153, 150, 247, 0.8);

  --color-yellow: rgba(231, 237, 112, 0.8);
  --color-yellow-100: rgba(158, 163, 5, 0.8);

  --color-cyan: rgba(36, 213, 232, 0.8);
  --color-cyan-100: rgba(143, 204, 245, 0.4);

  --color-green: #008000;
  --color-green-100: rgba(21, 153, 69, 0.8);
  --color-green-200: rgba(60, 252, 130, 0.3);

  --color-gradient-1: #998300;
  --color-gradient-2: #3f0800;

  --backgroundImage-gradient: linear-gradient(45deg, #998300, #3f0800);
  --backgroundImage-gradient-reverse: linear-gradient(-45deg, #998300, #3f0800);

  --color-green-100: rgba(60, 252, 130, 0.3);

  --backgroundImage-gradient: linear-gradient(45deg, #998300, #3f0800);
  --backgroundImage-gradient-reverse: linear-gradient(-45deg, #998300, #3f0800);

  --backdrop: rgba(255, 255, 255, 0.1);

  --boxShadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --boxShadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --boxShadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);
  --boxShadow-btn-hover: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3);
  --boxShadow-btn-active: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.5);

  --font-pacifico: "Pacifico", cursive;
  --font-rowdies: "Rowdies", sans-serif;
}

body {
  font-family: "serif", sans-serif;
  background-color: var(--color-cream-100);
}

@layer components {
  .nav-list {
    @apply relative py-2 px-3 rounded-sm  text-cream-200 hover:bg-brown 
      transition-all duration-300 ease-in-out 
      lg:p-0 lg:text-brown lg:font-bold lg:hover:bg-transparent 
      lg:before:content-[''] lg:before:absolute lg:before:-bottom-1.5 
      lg:before:h-1 lg:before:w-0
      lg:before:bg-linear-to-r lg:before:from-gradient-1 lg:before:to-gradient-2
      lg:before:rounded-sm
      lg:before:transition-all lg:before:duration-300 lg:before:ease-in-out
      lg:hover:before:w-full lg:before:origin-left 
      lg:before:left-1/2 lg:before:transform lg:before:-translate-x-1/2 
      lg:text-xl
      md:text-lg;
  }

  .input {
    @apply w-full border border-brown-100 text-brown-300 placeholder:text-brown-100 sm:text-base text-sm py-[8px] sm:py-2.5 px-4 rounded bg-cream-100 focus:outline-none focus:border-brown-300 transition-all duration-300 disabled:cursor-not-allowed disabled:bg-brown-100;
  }

  .gradient {
    @apply text-cream-200;
    background-image: var(--backgroundImage-gradient);
  }

  .gradient:hover {
    background-image: var(--backgroundImage-gradient-reverse);
  }

  .overlay {
    @apply fixed w-full bg-stone-400/15 backdrop-blur-xs top-0 left-0 h-screen lg:hidden lg:-z-10 z-40;
  }

  .button {
    @apply flex items-center justify-center gap-2 border py-2 sm:py-2.5 px-5 rounded text-cream-200 shadow-slate-400 shadow-sm  bg-orangered-100 border-none hover:bg-orangered-200 hover:shadow-md focus:bg-orangered-200 focus:shadow-md transform hover:-translate-y-0.5 focus:-translate-y-0.5 active:translate-y-0 active:shadow-sm self-center font-bold text-base  cursor-pointer  transition-all duration-300;
  }

  .pagination-button {
    @apply disabled:cursor-not-allowed  flex items-center justify-center  gap-2 w-fit   text-[0.8rem] font-medium outline-0 rounded-xs cursor-pointer border shadow-md  hover:-translate-y-0.5 active:translate-y-0 active:shadow-sm md:text-[15px] border-brown bg-cream-200 text-brown hover:bg-brown hover:text-cream-200 ease-in-out;
  }

  .trans {
    @apply transition-all duration-300;
  }

  .container {
    @apply px-4  lg:px-12 lg:py-12 sm:px-6 xl:px-32 py-8 mx-auto w-full;
  }

  @media only screen and (max-width: 1000px) {
    .bg-nav {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
        url("/burger-1.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}
